<%# The view for the success page which you are redirected to after a successful checkout. %>

<div class="container-success">
  <div class="box-success">
    <div class="success-checkmark">
      <div class="check-icon">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
        <div class="icon-circle"></div>
        <div class="icon-fix"></div>
      </div>
    </div>
    <h1>Success!</h1>
    <hr />
    <p>Your items are on their way!</p>
  </div>
  <p><%= link_to "Continue Shopping", categories_path %></p>
</div>

